<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FormProfessorServlet</servlet-name>
        <servlet-class>br.com.rodrigo.admissional.servlet.professor.FormProfessorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroProfessorServlet</servlet-name>
        <servlet-class>br.com.rodrigo.admissional.servlet.professor.CadastroProfessorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaProfessoresServlet</servlet-name>
        <servlet-class>br.com.rodrigo.admissional.servlet.professor.ListaProfessoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletaProfessorServlet</servlet-name>
        <servlet-class>br.com.rodrigo.admissional.servlet.professor.DeletaProfessorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraProfessorServlet</servlet-name>
        <servlet-class>br.com.rodrigo.admissional.servlet.professor.AlteraProfessorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormUpdateProfessorServlet</servlet-name>
        <servlet-class>br.com.rodrigo.admissional.servlet.professor.FormUpdateProfessorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraAlunoServlet</servlet-name>
        <servlet-class>br.com.rodrigo.admissional.servlet.aluno.AlteraAlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroAlunoServlet</servlet-name>
        <servlet-class>br.com.rodrigo.admissional.servlet.aluno.CadastroAlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletaAlunoServlet</servlet-name>
        <servlet-class>br.com.rodrigo.admissional.servlet.aluno.DeletaAlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormAlunoServlet</servlet-name>
        <servlet-class>br.com.rodrigo.admissional.servlet.aluno.FormAlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormUpdateAlunoServlet</servlet-name>
        <servlet-class>br.com.rodrigo.admissional.servlet.aluno.FormUpdateAlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaAlunoServlet</servlet-name>
        <servlet-class>br.com.rodrigo.admissional.servlet.aluno.ListaAlunoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormProfessorServlet</servlet-name>
        <url-pattern>/FormProfessorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroProfessorServlet</servlet-name>
        <url-pattern>/CadastroProfessorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaProfessoresServlet</servlet-name>
        <url-pattern>/ListaProfessoresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletaProfessorServlet</servlet-name>
        <url-pattern>/DeletaProfessorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraProfessorServlet</servlet-name>
        <url-pattern>/AlteraProfessorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormUpdateProfessorServlet</servlet-name>
        <url-pattern>/FormUpdateProfessorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraAlunoServlet</servlet-name>
        <url-pattern>/AlteraAlunoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroAlunoServlet</servlet-name>
        <url-pattern>/CadastroAlunoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletaAlunoServlet</servlet-name>
        <url-pattern>/DeletaAlunoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormAlunoServlet</servlet-name>
        <url-pattern>/FormAlunoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormUpdateAlunoServlet</servlet-name>
        <url-pattern>/FormUpdateAlunoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaAlunoServlet</servlet-name>
        <url-pattern>/ListaAlunoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
